<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-normal">
                Asistio
            </a>
        </div>
        <ul class="nav">
            <li class="active ">
                <a href="/admin">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="active ">
                <a href="/admin/all_users">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>All Users</p>
                </a>
            </li>
        </ul>
    </div>
</div>