<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Assistio</title>
  <link href="/public/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="/public/css/auth.css" rel="stylesheet" />
</head>

<body class="">
  <%- content %>
</body>

</html>