<% extend ('../layout')%>
<script src="/public/js/mainScript.js"></script>
<div class="content">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Total Users</h5>
                    <h3 class="card-title" id="users"><i class="tim-icons icon-bell-55 text-primary"></i> 0</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Total Images</h5>
                    <h3 class="card-title" id="images"><i class="tim-icons icon-bell-55 text-primary"></i> 0</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Total Videos</h5>
                    <h3 class="card-title" id="videos"><i class="tim-icons icon-bell-55 text-primary"></i> 0</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Total Audios</h5>
                    <h3 class="card-title" id="audios"><i class="tim-icons icon-bell-55 text-primary"></i> 0</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Total Documents</h5>
                    <h3 class="card-title" id="documents"><i class="tim-icons icon-bell-55 text-primary"></i> 0</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Total Speech Notes</h5>
                    <h3 class="card-title" id="notes"><i class="tim-icons icon-bell-55 text-primary"></i> 0</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Total Contacts</h5>
                    <h3 class="card-title" id="contacts"><i class="tim-icons icon-bell-55 text-primary"></i> 0</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Total Locations</h5>
                    <h3 class="card-title" id="locations"><i class="tim-icons icon-bell-55 text-primary"></i> 0</h3>
                </div>
            </div>
        </div>
    </div>
</div>